### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

In [26]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [27]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [28]:
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [29]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [30]:
uniqueplayers = df['SN'].nunique()
total_players = pd.DataFrame({"Total Players": [uniqueplayers]},columns= ["Total Players"])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
number_of_unique_items = len((purchase_data['Item ID']).unique())
averageprice = (purchase_data['Price']).mean()
totalpurchase = (purchase_data['Purchase ID']).count()
totalrevenue = (purchase_data["Price"]).sum()

totalanalyses_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                "Average Price": [averageprice],
                                "Number of Purchases": [totalpurchase], 
                                "Total Revenue": [totalrevenue]}, columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

totalanalyses_df.style.format({'Average Price':"${:,.2f}", 'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
gender_group = purchase_data.groupby("Gender")
total_gender_count = gender_group.nunique()['SN']
total_gender_count.head

<bound method NDFrame.head of Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64>

In [35]:
percent_players = total_gender_count / total_players *100
gender_demographics = pd.DataFrame({"Percentage of Players": percent_players, "Total Count": total_gender_count})

gender_demographics.index.name = None

gender_demographics.sort_values(["Total Count"], 
                                ascending = False).style.format({"Percent of Players":"${:,.2f}"})

ValueError: Shape of passed values is (4, 2), indices imply (3, 2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
purchase_count = gender_group["Purchase ID"].count()
average_purchase_price = gender_group["Price"].mean()
average_purchase_total = gender_group["Price"].sum()
average_purchase_person = average_purchase_total / total_gender_count

gender_demographics = pd.DataFrame({"Purchase Count":purchase_count,
                                   "Average Purchase Price":average_purchase_price,
                                   "Average Purchase Value":average_purchase_total, 
                                   "Average Purchase Total per Person":average_purchase_person})


gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                 "Average Purchase Total per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")

total_count_by_age = age_grouped["SN"].nunique()

percentage_by_age = (total_count_by_age / total_players) *100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age,
                                "Total Count": total_count_by_age})

age_demographics.index.name = None


age_demographics.style.format({"Percentage of Players": "{:,.2f}"})

ValueError: Shape of passed values is (9, 2), indices imply (8, 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
purchase_count_age = age_grouped["Purchase ID"].count()
average_purchase_price_age = age_grouped["Price"].mean()
average_total_purchase_age = age_grouped["Price"].sum()

average_purchase_person_age = average_total_purchase_age / total_count_by_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                "Average Purchase Price": average_purchase_price_age, 
                                "Total Putchase Value": total_purchase_age, 
                                "Average Purchase Total per Person": average_total_purchase_age})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", 
                              "Average Purchase Total per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
spender_group = purchase_data.groupby("SN")
purchase_count_by_spender = spender_group["Purchase ID"].count()

average_purchase_price_by_spender = spender_group["Price"].mean()

total_purchase_by_spender = spender_group["Price"].sum()

spenders_data_frame = pd.DataFrame({"Purchase Count": purchase_count_by_spender, 
                                   "Average Purchase Price": average_purchase_price_by_spender,
                                   "Total Purchase Value": total_purchase_by_spender})

spenders_format = spenders_data_frame.sort_values(["Total Purchase Value"], ascending = False).head()

spenders_format.style.format({"Average Purchse Total": "${:,.2f}", "Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
item_data = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = item_data.groupby(["Item ID", "Item Name"])

purchase_count_item = item_group["Price"].count()

total_purchase_value = (item_group["Price"].sum())

item_price = total_purchase_value / purchase_count_item

item_data_frame = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                "Item Price": item_price, 
                               "Total Purchase Value": total_purchase_value})

most_popular_formatted = item_data_frame.sort_values(["Purchase Count"], ascending = False).head()

most_popular_formatted.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
most_profitable_item_formatted = item_data_frame.sort_values(["Total Purchase Value"], ascending = False).head()

most_profitable_item_formatted.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})